// Styling for the services section
.service-heading {
  margin: 15px 0;
  text-transform: none;
}


.service-heading + p {text-align: justify!important;}
.text-primary{color: #14868e!important;}

.trop1{
	order: 1; 
}