<section class="bg-light" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Como surgiu a Tropweb</h2>
          <h3 class="section-subheading text-muted">Conheça um pouco da nossa história!</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="timeline">
            <li>
              <div class="timeline-image">
                <img class="rounded-circle /img-fluid" src="/img/about/1.jpg" alt>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>Março 2019</h4>
                  <h4 class="subheading text-uppercase">Onde tudo começou</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">
                    Em um simples projeto acadêmico, cujo o propósito era desenvolver uma solução voltada para
                    problemas que afetam a sociedade num todo.<br>
                    Partindo deste ponto, precisávamos mentalizar algo que atendesse estas questões sociais de maneira simples e eficiente.
                  </p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="rounded-circle /img-fluid" src="/img/about/2.jpg" alt="Biblioteca">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>Abril 2019</h4>
                  <h4 class="subheading text-uppercase">Nasce a Tropweb!</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">
                    Fizemos uma pesquisa aprofundada e descobrimos que existem diversos doadores dispostos a contribuir porem, um dos problemas 
                    mais enfrentados por eles foi a parte de logística. Afinal o que poderíamos fazer para que as doações chegassem ate os seus receptores?
                    Foi quando surgiu a ideia de criarmos uma espécie de "Tropa Filantrópica da Web!" onde ergueu-se o acrônimo Tropweb!
                  </p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-image">
                <img class="rounded-circle /img-fluid" src="/img/about/3.jpg" alt="Faz Um Trop !">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>Maio 2019</h4>
                  <h4 class="subheading text-uppercase">Faz Um Trop !</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">
                    Criamos a nossa primeira campanha <br>"Faz Um Trop !" com o intuito de demonstrar ajuda ao próximo investimos nossa
                    campanha em todas a mídias sociais e o sucesso foi inesperado.
                  </p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="rounded-circle /img-fluid" src="/img/about/4.jpg" alt="Expansao E Sucesso">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>Julho 2019</h4>
                  <h4 class="subheading text-uppercase">Expansao E Sucesso</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">
                    Diante do sucesso que obtivemos com a Tropweb dia após dia recebemos doações de partes diferentes do país e
                    graças a você tivemos a possibilidade de aos poucos preencher esta lacuna chamada carência. Fazendo com que
                    traga esperança e solidariedade para as pessoas que realmente precisam.
                  </p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <br>
                <h4 class="text-uppercase">Faz um Trop!</h4>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>