<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">doe um calçado!</h2>
                <p class="item-intro text-muted"></p>
                <img class="/img-fluid d-block mx-auto" src="/img/portfolio/06-full.jpg" alt="DOE UM CALÇADO">
                <p>
                  A campanha doe um calçado foi realizada no dia 10 de Agosto de 2018 para moradores de rua.
                  A arrecadação ocorreu na Praça Da República no centro de São Paulo.
                </p>
                <ul class="list-inline">
                  <li>Data: 10 de Agosto de 2018</li>
                  <li>Campanha: DOE UM CALÇADO</li>
                </ul>
                <button class="btn btn-primary text-uppercase" data-dismiss="modal" type="button">
                <i class="fas fa-times"></i>
                fechar campanha</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
