   <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details -->
                  <h2 class="text-uppercase">ajude um idoso!</h2>
                  <p class="item-intro text-muted"></p>
                  <img class="/img-fluid d-block mx-auto" src="/img/portfolio/04-full.jpg" alt="AJUDE UM IDOSO">
                  <p>
                    A campanha ajude um idoso foi realizada no dia 25 de Setembro de 2018 em prol
                    da coleta de roupas e sapatos para idosos residentes em asilos na zona norte de
                    São Paulo.
                  </p>
                  <ul class="list-inline">
                    <li>Date: 25 de Setembro de 2018</li>
                    <li>Campanha: AJUDE UM IDOSO</li>
                  </ul>
                  <button class="btn btn-primary text-uppercase" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  fechar campanha</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>