<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details -->
                <h2 class="text-uppercase">chega de frio!</h2>
                <p class="item-intro text-muted"></p>
                <img class="/img-fluid d-block mx-auto" src="/img/portfolio/03-full.jpg" alt="CHEGA DE FRIO">
                <p>
                  Com a chegada do inverno a campanha chega de frio contribui com ajuda de mais de 100 voluntarios para distribuição de agasalhos
                  para moradores de rua no estado de São Paulo.
                </p>
                <ul class="list-inline">
                  <li>Date: 22 De Junho 2018</li>
                  <li>Campanha: CHEGA DE FRIO</li>
                </ul>
                <button class="btn btn-primary text-uppercase" data-dismiss="modal" type="button">
                <i class="fas fa-times"></i>
                fechar campanha</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>