<section id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Como Funciona</h2>
          <h3 class="section-subheading text-muted">Veja como é simples.</h3>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-users fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Contato</h4>
          <p class="text-muted">
            Você entra em <a class="js-scroll-trigger directForm" href="#contact">contato</a> com a Tropweb informando o que gostaria de doar.
            <br>Aqui na Tropweb nós chamamos isso <br>de Trop !
          </p>
        </div>
        <!-- Donate -->
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-box-open fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Coleta Doações</h4>
          <p class="text-muted">
            A Tropweb entrará em contato para obter maiores detalhes sobre você e o que pretende doar.
            Pronto! <br>Agora a Tropweb ja tem tudo o que precisa para ir até a sua casa e fazer a coleta.
          </p>
        </div>
        <!-- Where you go -->
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-people-carry fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Para Onde Vai</h4>
          <p class="text-muted">As doaçoes fornecidas serão destinadas para
            <a class="js-scroll-trigger directForm" href="#portfolio">campanhas</a> filantrópicas criadas pela Tropweb.
            <br>O doador poderá acompanhar de perto o que foi doado por ele através do nosso site.
          </p>
        </div>
      </div>
    </div>
  </section>