<section class="bg-light" id="team">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Nosso Maravilhoso Time</h2>
          <h3 class="section-subheading text-muted">Fazendo a diferença no dia a dia das pessoas.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="/img/team/3.jpg" alt="Douglas Apolonio Alves">
            <h4>Douglas Apolonio Alves</h4>
            <p class="text-muted">CEO Desenvolvedor E Idealista Da Tropweb</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="/img/team/02.jpeg" alt="Guilherme Barbeiro">
            <h4>Guilherme Barbeiro</h4>
            <p class="text-muted">Desenvolvedor Front-End </p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="/img/team/03.jpeg" alt="Guilherme Moura">
            <h4>Guilherme Moura</h4>
            <p class="text-muted">Diretor Sênior De T.I</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <p class="large text-muted">
            <i>
            Nós da Tropweb agradecemos a todos que contribuiram direta ou indiretamente para o sucesso
            de todas as campanhas que realizamos desde nossa existência.
            Venha fazer parte da nossa equipe faça a sua doaçao!
            </i>
          </p>
        </div>
      </div>
    </div>
  </section>